@using TestsLib.Models
@model List<Test>

@{
    ViewData["Title"] = "Test Page";
}
<div class="text-light">

    @foreach (var item in Model)
    {
        <div class="card bg-black d-block col-4 p-2 rounded-3 text-center">
            <img style="height:180px" class="w-100 rounded-3"
            src="@(item.TitleImg.Length > 0 && item.TitleImg != "string"
            ? item.TitleImg 
            : "https://img.freepik.com/free-vector/flower-background-desktop-wallpaper-cute-vector_53876-136877.jpg")" />

            <h3>@item.Title</h3>
            <p>@item.Description</p>
            <button class="card-btn rounded-3"><a
                asp-action="Detail" asp-controller="Test"
                asp-route-id="@item.Id">Start!</a></button>

        </div>
    }

</div>
