.main-filter-div{
    width: 300px;
    padding: 10px;

    .price-filter{
        width: 90px;
    }
    .charValuesName{
        font-size: 22px;
        margin: 10px 0px;
        text-align: left;
        color: #ffffff;
        font-weight: bolder;
    }
    p{
        color: #c1c1c1;
    }
    i{
        color: #DF81FF;
    }
}