@import url(buttons.css);
.purchase-product-div{
    position: relative;
    width: 100%;
    padding: 10px;

    input{
        border-radius: 10px;
        background-color: #2d272c;
        font-size: 20px;
        color: white;
    }
    img{
        width: 20%;
        height: 120px;
        margin-right: 10px ;
        cursor: pointer;
    }
   
}