.center-side-container{
    position: relative;

    fieldset{
        position: relative;
        margin: 0px 10%;
    } 
}

.centeresed-div,
.select-div{
        position: relative;

        select,input{
            background-color: #373539;
            color: white;
            font-size: 22px;
            border-radius: 10px;
            text-align: center;
        }

        select{
            width: 300px;
            margin-right: 10px;
        }
        input{ 
            width: 40%;
        }
        .add-img-div{
            background-color: #373539;
            border: 1px dashed  white;
            justify-content: center;
            padding: 50px 0px;
            cursor: pointer;

            img{
                width: 220px;
                height: 200px;
                margin: 10px;
                border-radius: 10px;

            }
            button{
               position: relative;
               background-color: rgb(255, 255, 255);
               font-size: 20px;
               left: 10px;
               height: 20px;
               width: 220px;
               border-radius: 5px;
               text-align: center;
            }

        }
    }

    .centeresed-div{
        margin: 0px 10%;
        
        input{ 
            width: 40%;
            height: 40px;
        }
        h3{
            color: #A3A3FF;
        }
    }