@font-face {
  font-family:'JetBrains' ;
  src: url(/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);

}
.body,html{
  background-color: rgb(255, 250, 250);
}
.line {
  width: 100%;
  height: 2px; 
  background-color: rgb(0, 0, 0); 
  margin: 10px 0; 
  position: relative;
}

p,span,li,h1,h2,h3,h4,h5{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'JetBrains';
}

h4{
  color: rgb(192, 0, 32);
  font-weight: bolder;
  text-align: center;
}



.contacts{
  position: relative;
  margin-left: 10px;
  left: 50%;
}
.contacts a {
  margin-left: 5px;
  color: black;
}


.main-div {
  display: flex;
  font-family: 'JetBrains';
  margin-top: 10px;
  margin: 20px;

}


.side-div {
  width: 20%;
  border-radius: 20px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  margin: 10px;
  height: 100%;
  position: relative;
}


.side-div img{
  width: 100%;
  height: 300px;
  border-radius: 20px; 
  position: relative;
}

  
.text-overlay {
    background-color: rgba(255, 192, 203, 0.8); 
    padding: 5px;
    border-radius: 10px;
    font-size: 20px; 
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
}
  
.short-info{
    display: block;
    font-size: 18px;
}

.skills-div{
    font-size: 20px;
    color: lightcoral;
}



.tech-skills{
  display: block;
  list-style: none;
  font-size: 20px;
}

.tech-skills p{
  margin-top: 0;
}

.tech-skills ul {
  margin-top: 0;
}
.tech-skills ul li {
  margin: 0;
}


.language-div {
  display: block;
  word-break: break-all;
}

.language-div p{

  /* text-align: center; */
  color: lightcoral;
  font-size: 19px;
}



/* center DIV */



.center-div{
  display: block;
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 25px;
  width: 100%;

}

.center-div div h1{
  padding-top: 15px;

}



.education-div{
  display: block;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin-bottom: 30px;
  border-radius: 20px; 

}

.list-div-list {
  padding: 20px;
}

.list-div-list li{
  list-style:circle;
}

.list-div-list p {
  font-size: 20px;
}
.work-div{
  display: block;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin-bottom: 5px;
  border-radius: 20px; 

}
.work-div a{
  margin-left: 10px;

}





@media screen and (max-width:1224px){
  .side-div{
    width: 40%;
  }
 
}

@media screen and (max-width:754px){
  .side-div{
    width: 100%;
  }
  .main-div{
    display: block;
  }
}