@import url(/Scss/Addons.css);
@import url(/Scss/Animation.css);
@import url(/Scss/MainHeader.css);
@import url(/Scss/LoadingScreen.css);
.filter-div button {
  display: flex;
}

.list-div {
  display: flex;
  font-family: "Handjet";
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 1.1;
}

.bottons-div {
  justify-content: center;
  text-align: center;
}

#tech-card,
.tech-card {
  height: 720px;
  width: 50%;
  margin: 30px 20px;
  padding: 45px;
  border: 5px solid #ffffff;
  font-size: 30px;
  border-radius: 5%;
  background: linear-gradient(135deg, #1e38ff, #ff78c7);
  box-shadow: 40px 40px 0px 0px black;
  color: white;
  text-align: center;
  font-family: "Handjet";
  animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  transition: all 0.3 ease-in-out;
}
#tech-card img,
.tech-card img {
  display: flex;
  border-radius: 5%;
  width: 100%;
  height: 45%;
  display: flex;
  border-radius: 5%;
  height: 45%;
}
#tech-card h6,
.tech-card h6 {
  font-size: 20px;
}
#tech-card p,
.tech-card p {
  font-size: 19px;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: white;
  font-weight: bolder;
}

.interest-fact span {
  font-size: 22px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: rgb(113, 255, 243);
  font-weight: bolder;
}

.side-bar-div,
.side-bar-div-active {
  z-index: 1;
  font-family: "Handjet";
  border-radius: 10px;
  text-align: start;
  font-weight: bolder;
  position: fixed;
  margin-top: 60px;
  width: 35%;
  background: linear-gradient(85deg, #ffc273, #b222ff);
  --webkit-animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.side-bar-div h1, .side-bar-div h2, .side-bar-div h3, .side-bar-div h4, .side-bar-div p,
.side-bar-div-active h1,
.side-bar-div-active h2,
.side-bar-div-active h3,
.side-bar-div-active h4,
.side-bar-div-active p {
  color: black;
}
.side-bar-div h1,
.side-bar-div-active h1 {
  justify-content: center;
  text-align: center;
  position: relative;
}

.side-bar-div-active {
  display: block;
  background: linear-gradient(85deg, #ffc273, #b222ff);
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.filtration-div {
  padding: 40px 0px;
}

.group-box {
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 100%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-wrap: wrap;
  word-break: break-all;
}
.group-box input {
  display: block;
  position: relative;
  height: 25px;
  width: 90%;
  background: pink;
  transition: height 0.5s ease;
  border-radius: 5px;
}
.group-box select {
  color: rgb(125, 78, 255);
  font-size: 25px;
  width: 90%;
  font-family: "Handjet";
  background-color: pink;
  font-weight: bolder;
  border-radius: 5px;
}
.group-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.group-box p {
  margin: 0;
  font-weight: bold;
}

.foot-div {
  display: inline;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-nav {
  display: flex;
  font-family: "Handjet";
  position: relative;
  flex-wrap: wrap;
  background: black;
}
.contact-nav li {
  display: flex;
  font-size: 30px;
  margin-left: 18px;
  justify-content: space-around;
}
.contact-nav li a {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
}

.glitch {
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(223, 191, 191);
  position: absolute;
  font-size: 60px;
  animation: glitch 1s 1.2s infinite;
}
.glitch ::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 2s linear infinite alternate-reverse, glitch 3s 3.05s infinite;
}
.glitch ::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 2s linear infinite alternate-reverse, glitch 1s 2s infinite;
}

.no-res-div {
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  font-family: "Disko teque";
  font-size: 100px;
  margin: 10%;
}
.no-res-div h1 a {
  color: cyan;
  font-family: "Handjet";
}

@media screen and (max-width: 480px) {
  .side-bar-div h1 {
    margin-left: 0%;
    transition: margin-left 0.5s ease;
  }
  .group-box {
    margin-left: 10px;
    width: 80%;
  }
  .group-box input {
    margin-top: 10px;
    height: 90px;
    width: 100%;
    transition: height 0.5s ease;
  }
  .group-box select {
    height: 30px;
    width: 100%;
  }
  .tech-card-buttons button {
    font-size: 20px;
    margin: 0;
  }
  .music-bar {
    position: absolute;
    align-items: flex-start;
    transition: all 0.6s ease;
    margin-left: 0%;
  }
  #tech-card p {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: white;
    font-weight: bolder;
  }
}/*# sourceMappingURL=Main-Mobile.css.map */