@import url(/Scss/Addons.css);
.about-us-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.about-us-button:hover {
  background-color: #ff003b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: linear-gradient(90deg, #ff1f1f, #b300c3);
  color: white;
  text-align: center;
  font-family: "Handjet";
}

.mobile-menu-div {
  display: none;
}

.descktop-menu-div {
  display: flex;
}

header nav {
  transition: all 0.5s ease;
  background-color: #f27;
  padding: 20px 0;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline;
  margin: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 25px;
}
header nav ul li a:hover {
  color: #ffd103;
}
header .title {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

.about-us-div {
  padding: 40px;
  display: flex;
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
}
.about-us-div .about h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 20%;
}
.about-us-div .about p {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 20%;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 28px;
  max-width: 35em;
}
.about-us-div .image-gallery img {
  position: relative;
  margin-left: 20%;
  margin-top: 20%;
  border-radius: 30% 30% 20px 20px;
}

.privacy {
  display: inline;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
}
.privacy ol {
  text-align: center;
  position: relative;
  flex-wrap: wrap;
  margin: 25px;
}
.privacy ol li {
  padding-bottom: 40px;
  display: inline;
  list-style: decimal;
}
.privacy ol li p {
  display: block;
  flex-wrap: wrap;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 45px;
  max-width: 100%;
  padding-bottom: 50px;
}
.privacy ol li p a {
  text-decoration: none;
  color: #d6bd00;
  margin-left: 5px;
}
.privacy ol li p a:active {
  color: #000;
}
.privacy h2 {
  display: inline;
  font-size: 50px;
}

footer {
  background: #f27;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
footer p {
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .descktop-menu-div {
    display: none;
  }
  .mobile-menu-div {
    display: flex;
  }
  .mobile-menu-div .logo-nav {
    left: 25%;
    font-family: "Disko teque";
    position: relative;
    background-color: transparent;
  }
  .mobile-menu-div .logo-nav h1 a {
    color: black;
    font-size: 55px;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
  }
  .about-us-div {
    display: block;
    position: relative;
  }
  .about-us-div .about h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 15%;
  }
  .about-us-div .about p {
    position: relative;
    word-wrap: break-word;
    margin-left: 20%;
    line-height: 1.5;
    font-size: 28px;
    max-width: 20em;
  }
  .about-us-div .image-gallery img {
    position: relative;
    margin-left: 5%;
  }
  .contacts {
    display: block;
    position: relative;
  }
  .contacts ol {
    display: block;
    position: relative;
  }
  .contacts ol li {
    display: block;
    position: relative;
    padding: 20px;
  }
}
@media screen and (max-width: 720px) {
  .mobile-menu-div {
    display: flex;
  }
  .mobile-menu-div .logo-nav {
    left: 15%;
  }
  .about-us-div {
    display: block;
    position: relative;
    flex-direction: column;
  }
  .about-us-div .about {
    margin-left: 0;
    margin-top: 0;
  }
  .about-us-div .about p {
    margin-left: 5%;
  }
  .about-us-div .image-gallery img {
    margin-left: 5%;
  }
}/*# sourceMappingURL=NavbarElement.css.map */