@using QuizLib.Dto.Request
@model ReqisterRequest
@{

}

<div class="d-block col-2">

    <form asp-action="SignupAction" asp-controller="User" method="post">
        <input required asp-for="Username" type="text" placeholder="Username" />
        <input required asp-for="Email" type="email" placeholder="Email" />
        <input required asp-for="Password" type="password" placeholder="Password" />
        <input required asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
        <button type="submit">Sign in!</button>
    </form>

</div>