.create {

    input,
    textarea {
        margin-right: 10px;
        margin-top: 10px;
        width: 250px;
        background-color: #3e3e3e;
        color: white;
        text-align: center;

    }
    fieldset {
        border-radius: 5px;
        width: max-content;
        border: 1px solid #D4D4D5;
      }
      
      legend {
        font-size: 12px;
      }
      
    input {
        height: 35px;
    }

    button {
        background-color: #fb5938;
    }

    li {
        display: flex;
        background-color: black;
        list-style-type: none;
        margin-top: 10px;
        margin-right: 5px;
        padding: 5px;
        min-width: 250px;

        span {
            position: relative;
            color: #fb5938;
            top: 5px;
            margin-left: 5px;
        }
    }

    select {
        height: 40px;
    }

    .remove,
    .edit {
        cursor: pointer;
    }

    .remove {
        color: #fb5938
    }

    .edit {
        color: rgb(255, 255, 128);
    }


    .prev-next-div {
        position: relative;
        justify-content: center;
        align-items: center;

        button {
            margin: 0px 10px 10px 10px;
            padding: 10px;
        }
    }

}