.recomendation-div{
    position: relative;
    background-color: #131313;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;

    img{
        position: relative;
        width: 100px;
        height: 90%;
        border-radius: 10px;
    }
    
}