@{
    var info = ViewData["Info"];
    string? userId = Context.Session.GetString("User");
}

<div class="text-center">

    @if (userId != null)
    {
        <button>
            <a asp-controller="Quiz">
                Create new test    
            </a>
        </button>
    }
    <h2>@info</h2>
</div>
