@import url(/Scss/Addons.css);
@import url(/Scss/Animation.css);
@import url(/Scss/MainHeader.css);

$color_1: rgba(0, 0, 0, 0.758);
$color_2: transparent;
$color_3: black;
$color_4: rgb(125, 78, 255);
$color_5: white;
$color_6: cyan;
$color_7: rgb(255, 255, 255);
$font-family_1: "Disko teque";
$font-family_2: "Handjet";
$font-family_3: "Tilt Prism";


body {
	margin: 0;
	transition: all 0.4s ease-in;
	background: linear-gradient(285deg, #34eeff, #ff269d);
}

main {
	min-height: 85vh;
	position: relative;
}
a {
	text-align: none;
	color: $color_3;
}
.main-div {
	display: flex;
	text-align: center;
	position: relative;
	font-family: $font-family_2;
	max-width: calc(33.33% - 20px);
}
.add-div {
	display: flex;
	position: relative;
	
}
.add-box {
	margin-bottom: 20px;
	-webkit-animation: swing-in-bottom-fwd 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.add-coll-div {
	font-family: $font-family_2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 25px 50px;
	-webkit-animation: swing-in-bottom-fwd 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	input {
		position: relative;
		box-shadow: 0px 0px 20px black;
		background: linear-gradient(100deg, #f2d9ff,#ff89df);
		font-size: 20px;
		border-radius: 10px;
		width: 350px;
		height: 40px;
	}
	textarea {
		box-shadow: 0px 0px 20px black;
		background: linear-gradient(100deg, #f2d9ff,#ff89df);
		font-size: 22px;
		border-radius: 10px;
	}
	.group-box {
		select {
			background: linear-gradient(100deg, #f2d9ff,#ff89df);
			color: $color_4;
			font-size: 25px;
			font-family: $font-family_2;
			font-weight: bolder;
			border-radius: 5px;
			width: 350px;
		}
	}
	
}
.add-fact-div {
	display: block;
	position: relative;
}
.add-char-div.add-coll-div{
	font-size: 20px;
	position: relative;
	word-wrap: break-word;
}

.characteristic-input {
	display: flex;
}
#input-tech-char-value,#input-tech-char-name  {
	margin-top: 10px;
	margin-right: 16px;
}

.temp-div {
	display: block;
	position: relative;
	color: $color_5;
	font-weight: bold;
	font-family: $font-family_2;
	margin: 20% 5%;
	transition: all 0.5s ease-in-out;

	.tech-card {
		flex-wrap: wrap;
		list-style: none;
		border: 5px solid #ffffff;
		position: relative;
		width: 420px;
		height: 650px;
		padding: 40px;
		border-radius: 5%;
		background: linear-gradient(135deg, #1e3cff, #ff1f75);
		box-shadow: 0px 0px 20px black;
		--webkit-animation: scale-in-hor-center 0.5s ease-out both;
		animation: scale-in-hor-center 0.5s ease-out both;
		transition: all 0.5s ease;
	
	
		img {
			display: flex;
			position: relative;
			border-radius: 5%;
			width: 100%;
			height: 220px;
			margin-bottom: 10px;
		}
		p {
			display: flex;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			font-weight: bolder;
			position: relative;
			font-size: 22px;
			-webkit-line-clamp: 3;
		}
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 20px;
			cursor: pointer;
		}
		a {
			display: flex;
			text-decoration: none;
			text-align: center;
			font-size: 30px;
		}
		#tech-fact {
			-webkit-line-clamp: 2;
			color: $color_6;
		}
	}
}


.confirm-div {
	display: flex;
	justify-content: center;
	align-self: center;
	position: relative;
	margin-bottom: 5%;
	height: 50px;
	button {
		padding: 10px;
		margin-left: 15px;
	
	}
}
.api-state{
	position: relative;
	text-align: center;
	font-weight: bolder;
	bottom: 5px;
	padding: 30px;
	font-size: 35px;
	font-family: $font-family_2;
}
.foot-div {
	display: fixed;
	flex-direction: column;
	position: relative;
}
.contact-nav {
	display: flex;
	font-family: $font-family_2;
	flex-wrap: wrap;
	background: black;
	li {
		display: flex;
		font-size: 30px;
		margin-left: 18px;
		justify-content: space-around;
		a {
			display: flex;
			align-items: center;
			color: $color_7;
			text-decoration: none;
			font-weight: bolder;
		}
	}
}

@media screen and (max-width: 1200px) {
	.main-div {
		margin-left: 25%;
		display: block;
		transition: all 0.5s ease-in-out;
	}
	.temp-div {
		display: block;
		position: relative;
		width: 100%;
	}
	.add-div{
		flex-direction: column;
	}

	.add-coll-div {
		display: block;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
	}

	.add-fact-div {
		display: block;
		position: relative;
		flex-wrap: wrap;
		
	}
	.add-char-div {
		margin: 5px 0px;
	}
	.confirm-div {
		position: relative;
		margin: 0;
		right: 5%;
		bottom: 5%;
	}
	.api-state{
		right: 10%;
	}
}

@media screen and (max-width: 720px) {
	
	.main-div {
		position: relative;
		margin: 10px;
	}

	.confirm-div {
		margin: 0%;
		margin-left: 60px;
		top: 5px;
		display: inline;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		button {
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 480px) {
	
	.music-bar {
		position: absolute;
		align-items: flex-start;
		transition: all 0.6s ease;
		margin: 0;
	}
	

	.add-coll-div {
		position: relative;
		margin: 10px;
		input {
			width: 250px;
			position: relative;
			transition: all 0.4s ease;
		}
		.group-box{
			select{
				width: 250px;
			}
		}
	}
	
	.add-box {
		textarea {
			position: relative;
			width: 250px;
		}
	}
	.confirm-div {
		display: block;
		position: relative;
		bottom: 10px;
		margin-left: 40px;

		button {
			font-size: 15px;
		}
	}
	.characteristic-input {
		display: block;
	}

	.temp-div {
		position: relative;
		width: 100px;
		margin: 10px;

		.tech-card{
			margin: 0;
			width: 250px;
		}

	}
	.group-box {
		select {
			background: linear-gradient(100deg, #f2d9ff,#ff89df);
			color: $color_4;
			font-size: 25px;
			font-family: $font-family_2;
			font-weight: bolder;
			border-radius: 5px;
			width: 250px;
		}
	}
}
