@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes jello-diagonal-2 {
  0% {
    transform: skew(0deg 0deg);
  }
  30% {
    transform: skew(-25deg -25deg);
  }
  40% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(-15deg, -15deg);
  }
  65% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg 0deg);
  }
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  2% {
    -webkit-clip-path: inset(7px 0 69px 0);
            clip-path: inset(7px 0 69px 0);
  }
  4% {
    -webkit-clip-path: inset(41px 0 58px 0);
            clip-path: inset(41px 0 58px 0);
  }
  6% {
    -webkit-clip-path: inset(56px 0 29px 0);
            clip-path: inset(56px 0 29px 0);
  }
  8% {
    -webkit-clip-path: inset(1px 0 35px 0);
            clip-path: inset(1px 0 35px 0);
  }
  10% {
    -webkit-clip-path: inset(32px 0 36px 0);
            clip-path: inset(32px 0 36px 0);
  }
  12% {
    -webkit-clip-path: inset(50px 0 32px 0);
            clip-path: inset(50px 0 32px 0);
  }
  14% {
    -webkit-clip-path: inset(91px 0 2px 0);
            clip-path: inset(91px 0 2px 0);
  }
  16% {
    -webkit-clip-path: inset(91px 0 7px 0);
            clip-path: inset(91px 0 7px 0);
  }
  18% {
    -webkit-clip-path: inset(19px 0 20px 0);
            clip-path: inset(19px 0 20px 0);
  }
  20% {
    -webkit-clip-path: inset(16px 0 17px 0);
            clip-path: inset(16px 0 17px 0);
  }
  22% {
    -webkit-clip-path: inset(23px 0 57px 0);
            clip-path: inset(23px 0 57px 0);
  }
  24% {
    -webkit-clip-path: inset(38px 0 23px 0);
            clip-path: inset(38px 0 23px 0);
  }
  26% {
    -webkit-clip-path: inset(88px 0 9px 0);
            clip-path: inset(88px 0 9px 0);
  }
  28% {
    -webkit-clip-path: inset(31px 0 53px 0);
            clip-path: inset(31px 0 53px 0);
  }
  30% {
    -webkit-clip-path: inset(71px 0 14px 0);
            clip-path: inset(71px 0 14px 0);
  }
  32% {
    -webkit-clip-path: inset(68px 0 19px 0);
            clip-path: inset(68px 0 19px 0);
  }
  34% {
    -webkit-clip-path: inset(61px 0 7px 0);
            clip-path: inset(61px 0 7px 0);
  }
  36% {
    -webkit-clip-path: inset(70px 0 14px 0);
            clip-path: inset(70px 0 14px 0);
  }
  38% {
    -webkit-clip-path: inset(96px 0 5px 0);
            clip-path: inset(96px 0 5px 0);
  }
  40% {
    -webkit-clip-path: inset(73px 0 6px 0);
            clip-path: inset(73px 0 6px 0);
  }
  42% {
    -webkit-clip-path: inset(39px 0 27px 0);
            clip-path: inset(39px 0 27px 0);
  }
  44% {
    -webkit-clip-path: inset(83px 0 15px 0);
            clip-path: inset(83px 0 15px 0);
  }
  46% {
    -webkit-clip-path: inset(92px 0 3px 0);
            clip-path: inset(92px 0 3px 0);
  }
  48% {
    -webkit-clip-path: inset(58px 0 42px 0);
            clip-path: inset(58px 0 42px 0);
  }
  50% {
    -webkit-clip-path: inset(79px 0 16px 0);
            clip-path: inset(79px 0 16px 0);
  }
  52% {
    -webkit-clip-path: inset(1px 0 57px 0);
            clip-path: inset(1px 0 57px 0);
  }
  54% {
    -webkit-clip-path: inset(39px 0 10px 0);
            clip-path: inset(39px 0 10px 0);
  }
  56% {
    -webkit-clip-path: inset(1px 0 81px 0);
            clip-path: inset(1px 0 81px 0);
  }
  58% {
    -webkit-clip-path: inset(23px 0 39px 0);
            clip-path: inset(23px 0 39px 0);
  }
  60% {
    -webkit-clip-path: inset(9px 0 23px 0);
            clip-path: inset(9px 0 23px 0);
  }
  62% {
    -webkit-clip-path: inset(50px 0 44px 0);
            clip-path: inset(50px 0 44px 0);
  }
  64% {
    -webkit-clip-path: inset(66px 0 14px 0);
            clip-path: inset(66px 0 14px 0);
  }
  66% {
    -webkit-clip-path: inset(34px 0 37px 0);
            clip-path: inset(34px 0 37px 0);
  }
  68% {
    -webkit-clip-path: inset(64px 0 6px 0);
            clip-path: inset(64px 0 6px 0);
  }
  70% {
    -webkit-clip-path: inset(34px 0 59px 0);
            clip-path: inset(34px 0 59px 0);
  }
  72% {
    -webkit-clip-path: inset(73px 0 15px 0);
            clip-path: inset(73px 0 15px 0);
  }
  74% {
    -webkit-clip-path: inset(10px 0 40px 0);
            clip-path: inset(10px 0 40px 0);
  }
  76% {
    -webkit-clip-path: inset(73px 0 10px 0);
            clip-path: inset(73px 0 10px 0);
  }
  78% {
    -webkit-clip-path: inset(39px 0 22px 0);
            clip-path: inset(39px 0 22px 0);
  }
  80% {
    -webkit-clip-path: inset(93px 0 4px 0);
            clip-path: inset(93px 0 4px 0);
  }
  82% {
    -webkit-clip-path: inset(18px 0 75px 0);
            clip-path: inset(18px 0 75px 0);
  }
  84% {
    -webkit-clip-path: inset(91px 0 9px 0);
            clip-path: inset(91px 0 9px 0);
  }
  86% {
    -webkit-clip-path: inset(20px 0 17px 0);
            clip-path: inset(20px 0 17px 0);
  }
  88% {
    -webkit-clip-path: inset(68px 0 27px 0);
            clip-path: inset(68px 0 27px 0);
  }
  90% {
    -webkit-clip-path: inset(61px 0 8px 0);
            clip-path: inset(61px 0 8px 0);
  }
  92% {
    -webkit-clip-path: inset(17px 0 78px 0);
            clip-path: inset(17px 0 78px 0);
  }
  94% {
    -webkit-clip-path: inset(32px 0 21px 0);
            clip-path: inset(32px 0 21px 0);
  }
  96% {
    -webkit-clip-path: inset(98px 0 1px 0);
            clip-path: inset(98px 0 1px 0);
  }
  98% {
    -webkit-clip-path: inset(74px 0 4px 0);
            clip-path: inset(74px 0 4px 0);
  }
  100% {
    -webkit-clip-path: inset(92px 0 1px 0);
            clip-path: inset(92px 0 1px 0);
  }
}
@keyframes noise-2 {
  0% {
    -webkit-clip-path: inset(32px 0 63px 0);
            clip-path: inset(32px 0 63px 0);
  }
  2% {
    -webkit-clip-path: inset(61px 0 8px 0);
            clip-path: inset(61px 0 8px 0);
  }
  4% {
    -webkit-clip-path: inset(56px 0 30px 0);
            clip-path: inset(56px 0 30px 0);
  }
  6% {
    -webkit-clip-path: inset(3px 0 14px 0);
            clip-path: inset(3px 0 14px 0);
  }
  8% {
    -webkit-clip-path: inset(56px 0 35px 0);
            clip-path: inset(56px 0 35px 0);
  }
  10% {
    -webkit-clip-path: inset(47px 0 52px 0);
            clip-path: inset(47px 0 52px 0);
  }
  12% {
    -webkit-clip-path: inset(79px 0 2px 0);
            clip-path: inset(79px 0 2px 0);
  }
  14% {
    -webkit-clip-path: inset(54px 0 1px 0);
            clip-path: inset(54px 0 1px 0);
  }
  16% {
    -webkit-clip-path: inset(98px 0 3px 0);
            clip-path: inset(98px 0 3px 0);
  }
  18% {
    -webkit-clip-path: inset(22px 0 38px 0);
            clip-path: inset(22px 0 38px 0);
  }
  20% {
    -webkit-clip-path: inset(22px 0 56px 0);
            clip-path: inset(22px 0 56px 0);
  }
  22% {
    -webkit-clip-path: inset(44px 0 35px 0);
            clip-path: inset(44px 0 35px 0);
  }
  24% {
    -webkit-clip-path: inset(27px 0 2px 0);
            clip-path: inset(27px 0 2px 0);
  }
  26% {
    -webkit-clip-path: inset(37px 0 54px 0);
            clip-path: inset(37px 0 54px 0);
  }
  28% {
    -webkit-clip-path: inset(24px 0 12px 0);
            clip-path: inset(24px 0 12px 0);
  }
  30% {
    -webkit-clip-path: inset(12px 0 80px 0);
            clip-path: inset(12px 0 80px 0);
  }
  32% {
    -webkit-clip-path: inset(4px 0 90px 0);
            clip-path: inset(4px 0 90px 0);
  }
  34% {
    -webkit-clip-path: inset(74px 0 25px 0);
            clip-path: inset(74px 0 25px 0);
  }
  36% {
    -webkit-clip-path: inset(96px 0 3px 0);
            clip-path: inset(96px 0 3px 0);
  }
  38% {
    -webkit-clip-path: inset(80px 0 8px 0);
            clip-path: inset(80px 0 8px 0);
  }
  40% {
    -webkit-clip-path: inset(37px 0 31px 0);
            clip-path: inset(37px 0 31px 0);
  }
  42% {
    -webkit-clip-path: inset(74px 0 9px 0);
            clip-path: inset(74px 0 9px 0);
  }
  44% {
    -webkit-clip-path: inset(34px 0 2px 0);
            clip-path: inset(34px 0 2px 0);
  }
  46% {
    -webkit-clip-path: inset(43px 0 7px 0);
            clip-path: inset(43px 0 7px 0);
  }
  48% {
    -webkit-clip-path: inset(28px 0 10px 0);
            clip-path: inset(28px 0 10px 0);
  }
  50% {
    -webkit-clip-path: inset(64px 0 14px 0);
            clip-path: inset(64px 0 14px 0);
  }
  52% {
    -webkit-clip-path: inset(48px 0 30px 0);
            clip-path: inset(48px 0 30px 0);
  }
  54% {
    -webkit-clip-path: inset(91px 0 9px 0);
            clip-path: inset(91px 0 9px 0);
  }
  56% {
    -webkit-clip-path: inset(91px 0 7px 0);
            clip-path: inset(91px 0 7px 0);
  }
  58% {
    -webkit-clip-path: inset(49px 0 17px 0);
            clip-path: inset(49px 0 17px 0);
  }
  60% {
    -webkit-clip-path: inset(95px 0 3px 0);
            clip-path: inset(95px 0 3px 0);
  }
  62% {
    -webkit-clip-path: inset(98px 0 1px 0);
            clip-path: inset(98px 0 1px 0);
  }
  64% {
    -webkit-clip-path: inset(89px 0 8px 0);
            clip-path: inset(89px 0 8px 0);
  }
  66% {
    -webkit-clip-path: inset(5px 0 84px 0);
            clip-path: inset(5px 0 84px 0);
  }
  68% {
    -webkit-clip-path: inset(72px 0 12px 0);
            clip-path: inset(72px 0 12px 0);
  }
  70% {
    -webkit-clip-path: inset(11px 0 76px 0);
            clip-path: inset(11px 0 76px 0);
  }
  72% {
    -webkit-clip-path: inset(42px 0 3px 0);
            clip-path: inset(42px 0 3px 0);
  }
  74% {
    -webkit-clip-path: inset(90px 0 7px 0);
            clip-path: inset(90px 0 7px 0);
  }
  76% {
    -webkit-clip-path: inset(17px 0 44px 0);
            clip-path: inset(17px 0 44px 0);
  }
  78% {
    -webkit-clip-path: inset(92px 0 4px 0);
            clip-path: inset(92px 0 4px 0);
  }
  80% {
    -webkit-clip-path: inset(12px 0 47px 0);
            clip-path: inset(12px 0 47px 0);
  }
  82% {
    -webkit-clip-path: inset(12px 0 5px 0);
            clip-path: inset(12px 0 5px 0);
  }
  84% {
    -webkit-clip-path: inset(21px 0 55px 0);
            clip-path: inset(21px 0 55px 0);
  }
  86% {
    -webkit-clip-path: inset(88px 0 3px 0);
            clip-path: inset(88px 0 3px 0);
  }
  88% {
    -webkit-clip-path: inset(89px 0 9px 0);
            clip-path: inset(89px 0 9px 0);
  }
  90% {
    -webkit-clip-path: inset(70px 0 22px 0);
            clip-path: inset(70px 0 22px 0);
  }
  92% {
    -webkit-clip-path: inset(53px 0 43px 0);
            clip-path: inset(53px 0 43px 0);
  }
  94% {
    -webkit-clip-path: inset(25px 0 62px 0);
            clip-path: inset(25px 0 62px 0);
  }
  96% {
    -webkit-clip-path: inset(15px 0 56px 0);
            clip-path: inset(15px 0 56px 0);
  }
  98% {
    -webkit-clip-path: inset(87px 0 1px 0);
            clip-path: inset(87px 0 1px 0);
  }
  100% {
    -webkit-clip-path: inset(80px 0 14px 0);
            clip-path: inset(80px 0 14px 0);
  }
}
@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
@keyframes hideButton {
  0% {
    width: 180px;
  }
  100% {
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
  }
}/*# sourceMappingURL=Animation.css.map */