@import url(/Scss/Addons.css);
@import url(/Scss/MainHeader.css);
@import url(/Scss/Animation.css);

$color_1: rgba(0, 0, 0, 0.758);
$color_2: #ff2277;
$color_3: #1fffe9;
$color_4: white;
$font-family_1: "Disko teque";
$font-family_2: "Handjet";
$font-family_3: "Tilt Prism";
$font-family_4: "Press Start";
$background-color_1: rgba(255, 182, 193, 0.6);
$background-color_2: #9e001ab3;
$background-color_3: #ff2277;

body {
	background: linear-gradient(285deg, #34eeff, #ff269d);
	margin: 0;
}

.mode-btn-div{
	display: flex;
	position: absolute;
	justify-content: flex-end;
	margin-left: 95%;
	transition: all 0.5s ease-in-out;
}

.main-div,
.main-div-dark {
	display: flex;
	flex-direction: column;
	border: solid black 2px;
	position: absolute;
	align-self: center;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	height: 750px;
	width: 50%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $background-color_1;
	font-family: $font-family_2;
	transition: all 0.35s ease-in-out;
	input {
		font-size: 40px;
	}
	h1,h3,p,label{
		color: black;
	}
}
.main-div-dark{
	background-color: #1e0d3e;
	
	h1,h3,p,label{
		color: white;
	}
}

.text-input {
	top: 30px;
	position: relative;
	display: flex;
}
.remember-me {
	label {
		margin: 0;
	}
	display: flex;
	font-size: 30px;
	margin-top: 10px;
	input {
		width: 20px;
		height: 20px;
		transition: all ease 0.5s;
		&:hover {
			width: 30px;
			height: 30px;
		}
	}
}
.login-div
	h1 {
		font-family: $font-family_1;
		position: absolute;
		color: $color_2;
		font-size: 65px;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
	}
	form {
		display: flex;
		margin: 15px;
	}


.new-acc-div {
	position: absolute;
	bottom: 3%;
	font-size: 23px;
	cursor: pointer;
	font-weight: bolder;
	a {
		text-decoration: none;
		color: $color_3;
		font-size: 25px;
		&:hover {
			color: $color_4;
		}
	}
}

.submit-sign-in,
.submit-sign-up{
	position: relative;
	border: none;
	width: 80%;
	font-size: 30px;
	border-radius: 5px;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, -50%);
	font-family: $font-family_2;
	margin-top: 50px;

}
.submit-sign-in {

	border-top: solid #ff2277 5px;
	border-left: solid #ff2277 3px;
	background-color: $background-color_2;
	color: $color_4;
	transition: all ease 0.5s;
	&:hover {
		border-top: solid #9e001ab3 3px;
		border-left: solid #9e001ab3 8px;
		background-color: $background-color_3;
	}
	&:active {
		border-top: solid #9e001ab3 3px;
		border-left: solid #9e001ab3 8px;
		background-color: $background-color_3;
		width: 100%;
	}
}
.submit-sign-up {
	border-top: solid #9e001ab3 5px;
	border-left: solid #9e001ab3 3px;
	background-color: $background-color_3;
	color: $color_4;
	transition: all ease 0.5s;
	&:hover {
		border-top: solid #ff2277 3px;
		border-left: solid #ff2277 8px;
		background-color: $background-color_2;
	}
	&:active {
		animation: hideButton 0.5s forwards;
	}
}
.auto-res{
	display: flex;
	text-align: center;
	align-self: center;
	align-items: center;
	font-weight: bolder;
	justify-content: center;
    color: white;
	flex-direction: column;
    font-size:80px;
    font-family:$font-family_2;
	color: #34eeff;
}
.error-message{
	position: relative;
	display: none;
	text-align: center;
	align-self: center;
	font-weight: bolder;
	align-items: center;
	color: red;
	left: 5%;
	font-size: 38px;
}


@media screen and (max-width: 720px) {
	.main-div,
	.main-div-dark{
		width: 90%;
	}
	.text-input {
		form {
			input {
				position: relative;
				width: 100%;
			}
		}
	}
	.new-acc-div {
		flex-wrap: wrap;
		left: 15%;
		font-size: 20px;
		a {
			font-size: 20px;
		}
	}

	.mode-btn-div{
		margin-left: 85%;
	}
}
@media screen and (max-width: 480px) {
	.login-div {
        font-size: 25px;
		h1 {
			font-size: 40px;
		}
	}
	.submit-sign-in,.submit-sign-up {
		width: 120px;
	}
	.music-bar{
		margin-left: 20%;
	}
	.new-acc-div {
		flex-wrap: wrap;
		left: 15%;
		font-size: 20px;
		a {
			font-size: 20px;
		}
	}
}
