@import url(/Scss/Addons.css);
@import url(/Scss/MainHeader.css);
@import url(/Scss/Animation.css);
body {
  background: linear-gradient(285deg, #34eeff, #ff269d);
  margin: 0;
}

.mode-btn-div {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  margin-left: 95%;
  transition: all 0.5s ease-in-out;
}

.main-div,
.main-div-dark {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 750px;
  width: 50%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 182, 193, 0.6);
  font-family: "Handjet";
  transition: all 0.35s ease-in-out;
}
.main-div input,
.main-div-dark input {
  font-size: 40px;
}
.main-div h1, .main-div h3, .main-div p, .main-div label,
.main-div-dark h1,
.main-div-dark h3,
.main-div-dark p,
.main-div-dark label {
  color: black;
}

.main-div-dark {
  background-color: #1e0d3e;
}
.main-div-dark h1, .main-div-dark h3, .main-div-dark p, .main-div-dark label {
  color: white;
}

.text-input {
  top: 30px;
  position: relative;
  display: flex;
}

.remember-me {
  display: flex;
  font-size: 30px;
  margin-top: 10px;
}
.remember-me label {
  margin: 0;
}
.remember-me input {
  width: 20px;
  height: 20px;
  transition: all ease 0.5s;
}
.remember-me input:hover {
  width: 30px;
  height: 30px;
}

.login-div h1 {
  font-family: "Disko teque";
  position: absolute;
  color: #ff2277;
  font-size: 65px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

form {
  display: flex;
  margin: 15px;
}

.new-acc-div {
  position: absolute;
  bottom: 3%;
  font-size: 23px;
  cursor: pointer;
  font-weight: bolder;
}
.new-acc-div a {
  text-decoration: none;
  color: #1fffe9;
  font-size: 25px;
}
.new-acc-div a:hover {
  color: white;
}

.submit-sign-in,
.submit-sign-up {
  position: relative;
  border: none;
  width: 80%;
  font-size: 30px;
  border-radius: 5px;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  font-family: "Handjet";
  margin-top: 50px;
}

.submit-sign-in {
  border-top: solid #ff2277 5px;
  border-left: solid #ff2277 3px;
  background-color: rgba(158, 0, 26, 0.7019607843);
  color: white;
  transition: all ease 0.5s;
}
.submit-sign-in:hover {
  border-top: solid rgba(158, 0, 26, 0.7019607843) 3px;
  border-left: solid rgba(158, 0, 26, 0.7019607843) 8px;
  background-color: #ff2277;
}
.submit-sign-in:active {
  border-top: solid rgba(158, 0, 26, 0.7019607843) 3px;
  border-left: solid rgba(158, 0, 26, 0.7019607843) 8px;
  background-color: #ff2277;
  width: 100%;
}

.submit-sign-up {
  border-top: solid rgba(158, 0, 26, 0.7019607843) 5px;
  border-left: solid rgba(158, 0, 26, 0.7019607843) 3px;
  background-color: #ff2277;
  color: white;
  transition: all ease 0.5s;
}
.submit-sign-up:hover {
  border-top: solid #ff2277 3px;
  border-left: solid #ff2277 8px;
  background-color: rgba(158, 0, 26, 0.7019607843);
}
.submit-sign-up:active {
  animation: hideButton 0.5s forwards;
}

.auto-res {
  display: flex;
  text-align: center;
  align-self: center;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-size: 80px;
  font-family: "Handjet";
  color: #34eeff;
}

.error-message {
  position: relative;
  display: none;
  text-align: center;
  align-self: center;
  font-weight: bolder;
  align-items: center;
  color: red;
  left: 5%;
  font-size: 38px;
}

@media screen and (max-width: 720px) {
  .main-div,
  .main-div-dark {
    width: 90%;
  }
  .text-input form input {
    position: relative;
    width: 100%;
  }
  .new-acc-div {
    flex-wrap: wrap;
    left: 15%;
    font-size: 20px;
  }
  .new-acc-div a {
    font-size: 20px;
  }
  .mode-btn-div {
    margin-left: 85%;
  }
}
@media screen and (max-width: 480px) {
  .login-div {
    font-size: 25px;
  }
  .login-div h1 {
    font-size: 40px;
  }
  .submit-sign-in, .submit-sign-up {
    width: 120px;
  }
  .music-bar {
    margin-left: 20%;
  }
  .new-acc-div {
    flex-wrap: wrap;
    left: 15%;
    font-size: 20px;
  }
  .new-acc-div a {
    font-size: 20px;
  }
}/*# sourceMappingURL=Authorization.css.map */