@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-light d-flex">

    <div class="left-side-div d-block">
    <h3>Choice Tag</h3>

        @foreach (var tag in Model)
        {
            <form asp-controller="Test" asp-action="Catalog" asp-route-id="@tag" method="get">
                <button class="d-block text-light bg-black border-0 d-block mt-3 p-2 rounded-2">
                    @tag
                </button>
            </form>
       
        }

    </div>

    <form asp-controller="Test" asp-action="CreateTest" method="get">
        <div class="d-flex mt-2 ml-5 text-center">
            <button type="submit" class="d-block h-25 bg-primary border-0 d-block mt-3 p-2 rounded-2">
                Create new test
            </button>
        </div>
    </form>


</div>
